n8n/FINAL/HVAC_Master_Workflow.json
{
    "name": "HVAC Agent Master Workflow (V3)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vapi-call-status",
                "options": {}
            },
            "name": "Vapi Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.message.type }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "call-started",
                            "output": 0
                        },
                        {
                            "value2": "speech-update",
                            "output": 1
                        },
                        {
                            "value2": "tool-calls",
                            "output": 2
                        },
                        {
                            "value2": "end-of-call-report",
                            "output": 3
                        }
                    ]
                }
            },
            "name": "Event Router",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://igitbonjrlksxeamqwjj.supabase.co/rest/v1/demo_calls",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_SUPABASE_ANON_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_SUPABASE_ANON_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "status",
                            "value": "in-progress"
                        },
                        {
                            "name": "caller_number",
                            "value": "={{ $json.body.message.customer.number }}"
                        },
                        {
                            "name": "transcript",
                            "value": "Call started..."
                        },
                        {
                            "name": "vapi_call_id",
                            "value": "={{ $json.body.message.call.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Supabase: Create Call",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                550,
                100
            ]
        },
        {
            "parameters": {
                "url": "https://igitbonjrlksxeamqwjj.supabase.co/rest/v1/demo_calls",
                "qs": {
                    "parameters": [
                        {
                            "name": "vapi_call_id",
                            "value": "=eq.{{ $json.body.message.call.id }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_SUPABASE_ANON_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_SUPABASE_ANON_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "transcript",
                            "value": "={{ $json.body.message.transcript }}"
                        }
                    ]
                },
                "options": {
                    "method": "PATCH"
                }
            },
            "name": "Supabase: Update Transcript",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                550,
                300
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.message.toolCalls[0].function.name }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "check_technician_availability",
                            "output": 0
                        },
                        {
                            "value2": "book_appointment",
                            "output": 1
                        },
                        {
                            "value2": "lookup_customer",
                            "output": 2
                        }
                    ]
                }
            },
            "name": "Tool Router",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                550,
                500
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "twilioApi",
                "resource": "sms",
                "operation": "send",
                "from": "+18446713994",
                "to": "={{ $json.body.message.customer.number }}",
                "message": "🚨 EMERGENCY ALERT: AI Agent detected a critical HVAC issue at {{ $json.body.message.toolCalls[0].function.arguments.customer_address }}. Type: {{ $json.body.message.toolCalls[0].function.arguments.emergency_type }}. Please call customer immediately."
            },
            "name": "Twilio: Send Emergency SMS",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                800,
                400
            ],
            "credentials": {
                "twilioApi": {
                    "id": "1",
                    "name": "Twilio account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $json.body.message.toolCalls[0].id }}\",\n      \"result\": \"Technician Trevor is AVAILABLE. Dispatching immediately.\"\n    }\n  ]\n}",
                "options": {}
            },
            "name": "Return: Available",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1000,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $json.body.message.toolCalls[0].id }}\",\n      \"result\": \"Appointment successfully booked for {{ $json.body.message.toolCalls[0].function.arguments.preferred_date }}. Confirmation sent.\"\n    }\n  ]\n}",
                "options": {}
            },
            "name": "Return: Booked",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                800,
                600
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $json.body.message.toolCalls[0].id }}\",\n      \"result\": \"Customer found: {{ $json.body.message.toolCalls[0].function.arguments.first_name }} {{ $json.body.message.toolCalls[0].function.arguments.last_name }}. Premium Member since 2023.\"\n    }\n  ]\n}",
                "options": {}
            },
            "name": "Return: Customer Found",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                800,
                800
            ]
        },
        {
            "parameters": {
                "url": "https://igitbonjrlksxeamqwjj.supabase.co/rest/v1/demo_calls",
                "qs": {
                    "parameters": [
                        {
                            "name": "vapi_call_id",
                            "value": "=eq.{{ $json.body.message.call.id }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_SUPABASE_ANON_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_SUPABASE_ANON_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "status",
                            "value": "completed"
                        },
                        {
                            "name": "transcript",
                            "value": "={{ $json.body.message.transcript }}"
                        },
                        {
                            "name": "summary",
                            "value": "={{ $json.body.message.summary }}"
                        }
                    ]
                },
                "options": {
                    "method": "PATCH"
                }
            },
            "name": "Supabase: Finalize Call",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                550,
                700
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "simulate-call",
                "options": {}
            },
            "name": "Simulate Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                900
            ]
        },
        {
            "parameters": {
                "url": "https://igitbonjrlksxeamqwjj.supabase.co/rest/v1/demo_calls",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_SUPABASE_ANON_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_SUPABASE_ANON_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "status",
                            "value": "in-progress"
                        },
                        {
                            "name": "caller_number",
                            "value": "+15550009999"
                        },
                        {
                            "name": "transcript",
                            "value": "AI: Diamond Cooling, how may I help you?\nCustomer: (SIMULATED) My AC is broken and it's 100 degrees in here!"
                        },
                        {
                            "name": "call_type",
                            "value": "emergency"
                        },
                        {
                            "name": "metadata",
                            "value": "={ \"simulated\": true }"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Supabase: Create Fake Call",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                300,
                900
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"Simulated call created in Supabase\"\n}",
                "options": {}
            },
            "name": "Respond to Simulation",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                550,
                900
            ]
        }
    ],
    "connections": {
        "Vapi Webhook": {
            "main": [
                [
                    {
                        "node": "Event Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Event Router": {
            "main": [
                [
                    {
                        "node": "Supabase: Create Call",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Supabase: Update Transcript",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Tool Router",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Supabase: Finalize Call",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool Router": {
            "main": [
                [
                    {
                        "node": "Twilio: Send Emergency SMS",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Return: Booked",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Return: Customer Found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Twilio: Send Emergency SMS": {
            "main": [
                [
                    {
                        "node": "Return: Available",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Simulate Webhook": {
            "main": [
                [
                    {
                        "node": "Supabase: Create Fake Call",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Create Fake Call": {
            "main": [
                [
                    {
                        "node": "Respond to Simulation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}